NodeRedProjects/dataDashboard.json
[{"id":"98673a25.353ac8","type":"tab","label":"數據可視化","disabled":false,"info":""},{"id":"65a63ec8.9526a","type":"serial in","z":"98673a25.353ac8","name":"ArduinoMega","serial":"4c251392.048d0c","x":130,"y":300,"wires":[["f3c24152.a3247"]]},{"id":"67c73739.526428","type":"debug","z":"98673a25.353ac8","name":"Debug_FramefromSensors","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":200,"wires":[]},{"id":"3d4e287f.20f328","type":"file","z":"98673a25.353ac8","name":"SaveTo_SensorFile","filename":"/home/pi/Sensor DataBase.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":950,"y":260,"wires":[[]]},{"id":"f3c24152.a3247","type":"function","z":"98673a25.353ac8","name":"BinToString","func":"var newMsg = {payload: msg.payload.toString()};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":300,"wires":[["ccb0c004.acebe"]]},{"id":"ccb0c004.acebe","type":"split","z":"98673a25.353ac8","name":"","splt":" ","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":470,"y":300,"wires":[["4608ccf3.ae9b84"]]},{"id":"4608ccf3.ae9b84","type":"function","z":"98673a25.353ac8","name":"Payload Object Sensor","func":"var newMsg = {};\nvar Sensor = {\n    NData:0, \n    Temp:0,\n    Humid:0,\n    Light:0,\n    Flame:0,\n    Mq4:0,\n    Time: new Date().toString()\n};\n\ncontext.data = context.data || {};\n\nswitch(msg.parts.index)\n{\n    case 0:\n        context.data.NData = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 1:\n        context.data.Temp = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 2:\n        context.data.Humid = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 3:\n        context.data.Light = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 4:\n        context.data.Flame = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 5:\n        context.data.Mq4 = parseFloat(msg.payload);\n        msg = null;\n        break;        \n    default:\n        msg = null;\n        break;\n}\n\nAlldata = context.data.Temp && \n          context.data.Humid;\n\nif(Alldata)\n{\n    var time = Date();\n    context.data.Time = time.toString();\n    Sensor = context.data;\n    newMsg = { payload: context.data, topic: 'Frame Sensor' };\n    context.data = null;\n    return newMsg;\n}\nelse\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":300,"wires":[["c3672293.fb6f3","3d4e287f.20f328","67c73739.526428"]]},{"id":"c3672293.fb6f3","type":"function","z":"98673a25.353ac8","name":"Split Data","func":"var msgTemp  = {payload: msg.payload.Temp};\nvar msgHumid = {payload: msg.payload.Humid};\nvar msgLight = {payload: msg.payload.Light};\nvar msgFlame = {payload: msg.payload.Flame};\nvar msgMq4   = {payload: msg.payload.Mq4};\nreturn [msgTemp, msgHumid, msgLight, msgFlame, msgMq4];","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":925.3627052307129,"y":396.9830274581909,"wires":[["94b94824.191038","77fb7c7d.d9d824"],["ddeaf914.8b85d8","b337143.3a0efe8"],["891783ec.3649e"],["8aa77411.7ce798"],["d29c6fa2.8696d"]]},{"id":"94b94824.191038","type":"ui_chart","z":"98673a25.353ac8","name":"Graph 3 min Temp DHT (°C)","group":"63fe04f6.773c0c","order":1,"width":"0","height":"0","label":"室內溫度變化趨勢圖(間隔3分鐘)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"60","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1260,"y":320,"wires":[[]]},{"id":"ddeaf914.8b85d8","type":"ui_chart","z":"98673a25.353ac8","name":"Graph 3 min Humid DHT(%)","group":"8edd91aa.fd943","order":1,"width":"0","height":"0","label":" 室內濕度變化趨勢圖(間隔3分鐘)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"60","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1260,"y":400,"wires":[[]]},{"id":"77fb7c7d.d9d824","type":"ui_artlessgauge","z":"98673a25.353ac8","group":"d4fe26d3.991cf8","order":1,"width":6,"height":"6","name":"DHT-Temp","icon":"fa-thermometer-4","label":"室內溫度計","unit":"C","layout":"radial","decimals":"1","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#00fbff","t":"min","dot":0},{"val":25,"col":"#69ff66","t":"sec","dot":0},{"val":26,"col":"#e75a0d","t":"sec","dot":0},{"val":60,"col":"#e75a0d","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":1210,"y":280,"wires":[]},{"id":"b337143.3a0efe8","type":"ui_artlessgauge","z":"98673a25.353ac8","group":"66220f0a.3097","order":1,"width":6,"height":"6","name":"DHT-Humid","icon":"fa-tint","label":"室內溼度計","unit":"%","layout":"radial","decimals":"1","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#39b5ea","t":"min","dot":0},{"val":50,"col":"#66ffd4","t":"sec","dot":0},{"val":51,"col":"#f7ab08","t":"sec","dot":0},{"val":100,"col":"#f7ab08","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"50","x":1210,"y":360,"wires":[]},{"id":"891783ec.3649e","type":"ui_artlessgauge","z":"98673a25.353ac8","group":"b914d6c9.8d1b18","order":1,"width":6,"height":"6","name":"Light","icon":"fa-lightbulb-o","label":"工廠照明亮度","unit":"Lux","layout":"radial","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#f4f0eb","t":"min","dot":0},{"val":100,"col":"#66ffbd","t":"sec","dot":0},{"val":200,"col":"#01f4f4","t":"sec","dot":0},{"val":1023,"col":"#01f4f4","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":1190,"y":440,"wires":[]},{"id":"8aa77411.7ce798","type":"ui_artlessgauge","z":"98673a25.353ac8","group":"2c6a4858.2d97e8","order":1,"width":6,"height":"6","name":"FlameSensor","icon":"fa-fire","label":"火災感測器","unit":"","layout":"radial","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#c53302","t":"min","dot":0},{"val":0.5,"col":"#14f604","t":"sec","dot":0},{"val":1,"col":"#14f604","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":1210,"y":480,"wires":[]},{"id":"d29c6fa2.8696d","type":"ui_artlessgauge","z":"98673a25.353ac8","group":"84440358.ae3f7","order":1,"width":6,"height":"6","name":"Mq4Sensor","icon":"fa-free-code-camp","label":"瓦斯偵測器","unit":"","layout":"radial","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#fbfaf9","t":"min","dot":0},{"val":100,"col":"#f1f514","t":"sec","dot":0},{"val":101,"col":"#e50606","t":"sec","dot":0},{"val":1023,"col":"#e50606","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":1210,"y":520,"wires":[]},{"id":"4c251392.048d0c","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"0","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"},{"id":"63fe04f6.773c0c","type":"ui_group","name":"持續溫度變化","tab":"c224905b.f6d62","order":7,"disp":false,"width":"12","collapse":false},{"id":"8edd91aa.fd943","type":"ui_group","name":"持續濕度變化","tab":"c224905b.f6d62","order":6,"disp":false,"width":"12","collapse":false},{"id":"d4fe26d3.991cf8","type":"ui_group","name":"DHT感測器：溫度","tab":"c224905b.f6d62","order":4,"disp":false,"width":"6","collapse":false},{"id":"66220f0a.3097","type":"ui_group","name":"DHT感測器：溼度","tab":"c224905b.f6d62","order":5,"disp":false,"width":"6","collapse":false},{"id":"b914d6c9.8d1b18","type":"ui_group","name":"Sensor DS18B20","tab":"c224905b.f6d62","order":1,"disp":false,"width":"6","collapse":false},{"id":"2c6a4858.2d97e8","type":"ui_group","name":"Flame Sensor","tab":"c224905b.f6d62","order":3,"disp":false,"width":"6","collapse":false},{"id":"84440358.ae3f7","type":"ui_group","name":"Pressure, Humidity","tab":"c224905b.f6d62","order":2,"disp":false,"width":"6","collapse":false},{"id":"c224905b.f6d62","type":"ui_tab","name":"MONITORING","icon":"dashboard","order":1}]