NodeRedProjects/modbus.json
[{"id":"f057288.7be51d8","type":"tab","label":"ModBus範例","disabled":false,"info":""},{"id":"457bbc4c.4d2284","type":"modbus-server","z":"f057288.7be51d8","name":"","logEnabled":false,"hostname":"0.0.0.0","serverPort":"10502","responseDelay":100,"delayUnit":"ms","coilsBufferSize":10000,"holdingBufferSize":10000,"inputBufferSize":10000,"discreteBufferSize":10000,"showErrors":false,"x":380,"y":120,"wires":[["b912aafb.498638"],["b912aafb.498638"],["b912aafb.498638"],["b912aafb.498638"],["b912aafb.498638"]]},{"id":"4eba819b.44097","type":"inject","z":"f057288.7be51d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":120,"wires":[["457bbc4c.4d2284"]]},{"id":"b912aafb.498638","type":"debug","z":"f057288.7be51d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":120,"wires":[]},{"id":"8a2d2fe1.b9651","type":"inject","z":"f057288.7be51d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":500,"wires":[["4f7b7966.947e58"]]},{"id":"459e1eb0.145b8","type":"modbus-flex-getter","z":"f057288.7be51d8","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"d6a22890.c80e58","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":490,"y":500,"wires":[[],["811f893d.35ed48"]]},{"id":"4f7b7966.947e58","type":"function","z":"f057288.7be51d8","name":"FC3 0 [4]","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 0 , \n    'quantity': 4 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":500,"wires":[["459e1eb0.145b8"]]},{"id":"811f893d.35ed48","type":"modbus-response","z":"f057288.7be51d8","name":"","registerShowMax":20,"x":750,"y":500,"wires":[]},{"id":"9867afb9.9e955","type":"modbus-flex-write","z":"f057288.7be51d8","name":"","showStatusActivities":false,"showErrors":false,"server":"d6a22890.c80e58","emptyMsgOnFail":false,"keepMsgProperties":false,"x":950,"y":320,"wires":[["74d70fb6.549a4"],[]]},{"id":"838b13ef.f37ff","type":"function","z":"f057288.7be51d8","name":"FC16 0 [3]","func":"msg.payload = { \n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 0 , \n    'quantity': 3 \n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":320,"wires":[["9867afb9.9e955"]]},{"id":"5da4fea6.080e7","type":"exec","z":"f057288.7be51d8","command":"sudo python3 /home/pi/RhemaRobotics/Demo/ReadServoStatus.py","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ReadServoStatus.py","x":380,"y":320,"wires":[["20e3da26.9bc8d6","e3e00328.9746a"],[],[]]},{"id":"29c12429.a3a97c","type":"inject","z":"f057288.7be51d8","name":"Servo1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":240,"wires":[["5da4fea6.080e7"]]},{"id":"bc8d9937.f12ed8","type":"inject","z":"f057288.7be51d8","name":"Servo2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":110,"y":280,"wires":[["5da4fea6.080e7"]]},{"id":"87f2e4a8.9aeec8","type":"inject","z":"f057288.7be51d8","name":"Servo3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":110,"y":320,"wires":[["5da4fea6.080e7"]]},{"id":"9d9911af.db52","type":"inject","z":"f057288.7be51d8","name":"Servo4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":110,"y":360,"wires":[["5da4fea6.080e7"]]},{"id":"bff4ad3.501785","type":"inject","z":"f057288.7be51d8","name":"Servo5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":110,"y":400,"wires":[["5da4fea6.080e7"]]},{"id":"cf49df1.7aa3d2","type":"inject","z":"f057288.7be51d8","name":"Servo6","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"num","x":110,"y":440,"wires":[["5da4fea6.080e7"]]},{"id":"20e3da26.9bc8d6","type":"function","z":"f057288.7be51d8","name":"strSplit","func":"var str = msg.payload;\nvar datary = []\n\nvar parts = str.split(\", \");\nvar pul = parts[0].split(\":\");\nvar tmp = parts[1].split(\":\");\nvar vin = parts[2].split(\":\");\n\nvar dat1 = parseInt(pul[1]);\nvar dat2 = parseInt(tmp[1]);\nvar dat3 = parseInt(vin[1]);\n\ndat1 = (dat1<<16)>>16;\ndat2 = (dat2<<16)>>16;\ndat3 = (dat3<<16)>>16;\n\ndatary = [dat1,dat2,dat3]\nmsg.payload = datary;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":320,"wires":[["838b13ef.f37ff","96e057b0.cb7388"]]},{"id":"e3e00328.9746a","type":"debug","z":"f057288.7be51d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"96e057b0.cb7388","type":"debug","z":"f057288.7be51d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":380,"wires":[]},{"id":"74d70fb6.549a4","type":"debug","z":"f057288.7be51d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":320,"wires":[]},{"id":"d6a22890.c80e58","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"localhost","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]