NodeRedProjects/mqtt.json
[{"id":"6b57afd6.691b4","type":"tab","label":"MQTT範例","disabled":false,"info":""},{"id":"eec9753c.d5db78","type":"mqtt in","z":"6b57afd6.691b4","name":"mqtt in","topic":"outTopic","qos":"2","datatype":"auto","broker":"30cc2b5c.53e204","nl":false,"rap":true,"rh":0,"x":110,"y":420,"wires":[["ae60e5aa.9c40c8"]]},{"id":"346ed24a.6dd44e","type":"mqtt out","z":"6b57afd6.691b4","name":"mqtt_Temp","topic":"inTopic/Temp","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"30cc2b5c.53e204","x":1210,"y":180,"wires":[]},{"id":"6e4ce96a.67f998","type":"serial in","z":"6b57afd6.691b4","name":"ArduinoMega","serial":"4c251392.048d0c","x":130,"y":240,"wires":[["8ba48cd.005f67"]]},{"id":"ed9ac36f.840fc","type":"debug","z":"6b57afd6.691b4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":120,"wires":[]},{"id":"83243002.61937","type":"file","z":"6b57afd6.691b4","name":"SaveTo_SensorFile","filename":"/home/pi/Sensor DataBase.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":950,"y":80,"wires":[[]]},{"id":"8ba48cd.005f67","type":"function","z":"6b57afd6.691b4","name":"BinToString","func":"var newMsg = {payload: msg.payload.toString()};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":240,"wires":[["19946324.fb27dd"]]},{"id":"19946324.fb27dd","type":"split","z":"6b57afd6.691b4","name":"","splt":" ","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":470,"y":240,"wires":[["ce04e3be.877ca"]]},{"id":"ce04e3be.877ca","type":"function","z":"6b57afd6.691b4","name":"Payload Object Sensor","func":"var newMsg = {};\nvar Sensor = \n{\n    NData : 0.0, \n    Temp  : 0.0,\n    Humid : 0.0,\n    Light : 0.0,\n    Flame : 0.0,\n    Mq4   : 0.0\n};\n\ncontext.data = context.data || {};\nswitch(msg.parts.index)\n{\n    case 0:\n        context.data.NData = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 1:\n        context.data.Temp = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 2:\n        context.data.Humid = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 3:\n        context.data.Light = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 4:\n        context.data.Flame = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 5:\n        context.data.Mq4 = parseFloat(msg.payload);\n        msg = null;\n        break;        \n    default:\n        msg = null;\n        break;\n}\n\nAlldata = context.data.Temp && context.data.Humid;\nif(Alldata)\n{\n    Sensor = context.data;\n    newMsg = { payload: Sensor, topic: 'Sensor' };\n    context.data = null;\n    return newMsg;\n}\nelse\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":240,"wires":[["1be33199.cbd2be","83243002.61937","ed9ac36f.840fc"]]},{"id":"1be33199.cbd2be","type":"function","z":"6b57afd6.691b4","name":"Split Data","func":"var msgTemp  = {payload: msg.payload.Temp};\nvar msgHumid = {payload: msg.payload.Humid};\nvar msgLight = {payload: msg.payload.Light};\nvar msgFlame = {payload: msg.payload.Flame};\nvar msgMq4   = {payload: msg.payload.Mq4};\nreturn [msgTemp, msgHumid, msgLight, msgFlame, msgMq4];","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":240,"wires":[["c847f03b.7849e","547c2633.39cc08","346ed24a.6dd44e"],["857cd4ae.2b7cf8","81f084a2.5e4cc8","dd48cf0e.f582c"],["52727f10.aafc7","71f37e06.44e68"],["8f04eab9.7dec98","d31fd2ff.754b9"],["223b142.9c763ec","f4416252.7af19"]]},{"id":"c847f03b.7849e","type":"ui_chart","z":"6b57afd6.691b4","name":"Graph 3 min Temp DHT (°C)","group":"63fe04f6.773c0c","order":1,"width":12,"height":6,"label":"室內溫度變化趨勢圖(間隔3分鐘)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"60","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1260,"y":140,"wires":[[]]},{"id":"857cd4ae.2b7cf8","type":"ui_chart","z":"6b57afd6.691b4","name":"Graph 3 min Humid DHT(%)","group":"8edd91aa.fd943","order":1,"width":12,"height":6,"label":"室內濕度變化趨勢圖(間隔3分鐘)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"basis","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"60","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1260,"y":260,"wires":[[]]},{"id":"547c2633.39cc08","type":"ui_artlessgauge","z":"6b57afd6.691b4","group":"d4fe26d3.991cf8","order":1,"width":6,"height":5,"name":"DHT-Temp","icon":"fa-thermometer-4","label":"室內溫度計","unit":"C","layout":"radial","decimals":"1","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#00fbff","t":"min","dot":0},{"val":25,"col":"#69ff66","t":"sec","dot":0},{"val":26,"col":"#e75a0d","t":"sec","dot":0},{"val":60,"col":"#e75a0d","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":1210,"y":100,"wires":[]},{"id":"81f084a2.5e4cc8","type":"ui_artlessgauge","z":"6b57afd6.691b4","group":"66220f0a.3097","order":1,"width":6,"height":5,"name":"DHT-Humid","icon":"fa-tint","label":"室內溼度計","unit":"%","layout":"radial","decimals":"1","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#39b5ea","t":"min","dot":0},{"val":50,"col":"#66ffd4","t":"sec","dot":0},{"val":51,"col":"#f7ab08","t":"sec","dot":0},{"val":100,"col":"#f7ab08","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"50","x":1210,"y":220,"wires":[]},{"id":"52727f10.aafc7","type":"ui_artlessgauge","z":"6b57afd6.691b4","group":"b914d6c9.8d1b18","order":1,"width":6,"height":5,"name":"Light","icon":"fa-lightbulb-o","label":"工廠照明亮度","unit":"Lux","layout":"radial","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#f4f0eb","t":"min","dot":0},{"val":100,"col":"#66ffbd","t":"sec","dot":0},{"val":200,"col":"#01f4f4","t":"sec","dot":0},{"val":1023,"col":"#01f4f4","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":1190,"y":340,"wires":[]},{"id":"8f04eab9.7dec98","type":"ui_artlessgauge","z":"6b57afd6.691b4","group":"2c6a4858.2d97e8","order":1,"width":6,"height":5,"name":"FlameSensor","icon":"fa-fire","label":"火災感測器","unit":"","layout":"radial","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff0000","t":"min","dot":0},{"val":0.5,"col":"#4fe000","t":"sec","dot":0},{"val":1,"col":"#4fe000","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":1210,"y":420,"wires":[]},{"id":"f4416252.7af19","type":"ui_artlessgauge","z":"6b57afd6.691b4","group":"84440358.ae3f7","order":1,"width":6,"height":5,"name":"Mq4Sensor","icon":"fa-free-code-camp","label":"瓦斯偵測器","unit":"","layout":"radial","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#dbf9c3","t":"min","dot":0},{"val":100,"col":"#f5ae14","t":"sec","dot":0},{"val":101,"col":"#e53e06","t":"sec","dot":0},{"val":1023,"col":"#e53e06","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":1210,"y":500,"wires":[]},{"id":"ae60e5aa.9c40c8","type":"ui_text","z":"6b57afd6.691b4","group":"fe768e80.d0602","order":0,"width":"4","height":"3","name":"inputText","label":"接收到的字串","format":"{{msg.payload}}","layout":"row-center","x":480,"y":420,"wires":[]},{"id":"dd48cf0e.f582c","type":"mqtt out","z":"6b57afd6.691b4","name":"mqtt_Humid","topic":"inTopic/Humid","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"30cc2b5c.53e204","x":1210,"y":300,"wires":[]},{"id":"71f37e06.44e68","type":"mqtt out","z":"6b57afd6.691b4","name":"mqtt_Light","topic":"inTopic/Light","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"30cc2b5c.53e204","x":1210,"y":380,"wires":[]},{"id":"d31fd2ff.754b9","type":"mqtt out","z":"6b57afd6.691b4","name":"mqtt_Flame","topic":"inTopic/Flame","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"30cc2b5c.53e204","x":1210,"y":460,"wires":[]},{"id":"223b142.9c763ec","type":"mqtt out","z":"6b57afd6.691b4","name":"mqtt_Mq4","topic":"inTopic/Mq4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"30cc2b5c.53e204","x":1200,"y":540,"wires":[]},{"id":"f844cc52.f94a1","type":"mqtt out","z":"6b57afd6.691b4","name":"mqtt_Led","topic":"inTopic/Led","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"30cc2b5c.53e204","x":480,"y":520,"wires":[]},{"id":"2a4bd5a1.2f5f9a","type":"ui_button","z":"6b57afd6.691b4","name":"","group":"fe768e80.d0602","order":1,"width":"3","height":"3","passthru":false,"label":"LED_ON","tooltip":"","color":"","bgcolor":"","icon":"fa-circle-o","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":500,"wires":[["f844cc52.f94a1"]]},{"id":"6198a767.ce1688","type":"ui_button","z":"6b57afd6.691b4","name":"","group":"fe768e80.d0602","order":1,"width":"3","height":"3","passthru":false,"label":"LED_OFF","tooltip":"","color":"black","bgcolor":"","icon":"fa-circle","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":540,"wires":[["f844cc52.f94a1"]]},{"id":"30cc2b5c.53e204","type":"mqtt-broker","name":"","broker":"node-red@localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4c251392.048d0c","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"0","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"},{"id":"63fe04f6.773c0c","type":"ui_group","name":"持續溫度變化","tab":"c224905b.f6d62","order":7,"disp":false,"width":"12","collapse":false},{"id":"8edd91aa.fd943","type":"ui_group","name":"持續濕度變化","tab":"c224905b.f6d62","order":6,"disp":false,"width":"12","collapse":false},{"id":"d4fe26d3.991cf8","type":"ui_group","name":"DHT感測器：溫度","tab":"c224905b.f6d62","order":4,"disp":false,"width":"6","collapse":false},{"id":"66220f0a.3097","type":"ui_group","name":"DHT感測器：溼度","tab":"c224905b.f6d62","order":5,"disp":false,"width":"6","collapse":false},{"id":"b914d6c9.8d1b18","type":"ui_group","name":"Sensor DS18B20","tab":"c224905b.f6d62","order":1,"disp":false,"width":"6","collapse":false},{"id":"2c6a4858.2d97e8","type":"ui_group","name":"Flame Sensor","tab":"c224905b.f6d62","order":3,"disp":false,"width":"6","collapse":false},{"id":"84440358.ae3f7","type":"ui_group","name":"Pressure, Humidity","tab":"c224905b.f6d62","order":2,"disp":false,"width":"6","collapse":false},{"id":"fe768e80.d0602","type":"ui_group","name":"顯示文字","tab":"c224905b.f6d62","order":8,"disp":false,"width":"6","collapse":false},{"id":"c224905b.f6d62","type":"ui_tab","name":"MONITORING","icon":"dashboard","order":1}]